{% extends 'blog/base.html' %}
{% block css %}
.footer{
  display:none;
}
h3{
  text-align:center;
}
.sidebar{
  display:none;
}
{% endblock %}
{% block title %}
About
{% endblock %}
{% block header %}About{% endblock %}
{% load static %}
{% block content %}
<div class="about" style="padding-left:40px;padding-right:40px;">
  <p>
    <!--Theophilia Clara was created with the intent of helping people live the best life they can. This blog was named after my great grandmother, a woman whose name is always spoken with love and stories of kindness. With that in mind, my goal is to provide information to begin improving your life in small ways, and spread the goodness to others 😊-->
  </p>
  <p>This blog is named after my great grandmother. Her name has always been associated with care and positivity, appearing like a beam of light in others' lives. With that in mind, I'd like this blog to serve the same purpose! I want to help others become better, more fulfilled versions of themselves. Posts will usually be about fashion, beauty, organization, food, and anything else I feel like posting about 😊</p>
  <p>In my free time I love watching old english TV shows (I've recently loved <em>"Are You Being Served?"</em>), listening to music (especially love 80s & early 2000s), or reading up on super random things (anything from Tudor era history to nutritional science studies and beyond). I absolutely love learning about langauges, I'm working on Spanish right now (my favorite accents are Cuban and Argentinian) and I'd love to work on Italian & Lithuanian someday. I have two adorable pets, a Scottish terrier and a Norwegian forest cat, I can definitely be found bugging them for like 50% of quarantine. Also, fun fact: I've dabbled with programming since 2014, so this website was created all on my own! I made it using Python with Django as the framework, and make additions and changes to improve the UX weekly.</p>
  
  <!-- Begin Mailchimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
  	#mc_embed_signup{
      background:#fff;
      width:100%;
    }

    .email{
      box-shadow:0px 0px;
    }
  </style>
  <div id="mc_embed_signup">
  <form action="https://theophiliaclara.us8.list-manage.com/subscribe/post?u=85a546cf248f7ef646a528732&amp;id=fedf6291c4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
  	<h2><em>Join the weekly newsletter!</em></h2>
  	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_85a546cf248f7ef646a528732_fedf6291c4" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button aboutbutton"></div>
      </div>
  </form>
  </div>
  <!--End mc_embed_signup-->
  <br>
  <div class="imagess">
    <center>
    <a href="/bella"><img src="{% static '/images/bellamoves.gif' %}" width="200px"></a>
    <img src="{% static '/images/carlislemoves.gif' %}" width="200px">
    </center>
  </div>
  <div id="contrast">
    <p style="text-align:center; text-indent:0px;">Don't miss out,<br> follow!</p>
    <ul class="social">
      <li><a class="fab fa-pinterest-p" href="https://www.pinterest.com/theophiliaclara/" target="blank" id="pin"></a></li>
      <li><a class="fab fa-instagram" href="https://www.instagram.com/theophiliaclara/" target="blank" id="insta"></a></li>
      <li><a class="fab fa-spotify" href="https://open.spotify.com/user/5m6nug9z882ud8ijo5blbe7v8?si=C0u19-wVQTiYJl6zg1KSJA" id="spotify"></a> </li>
    </ul>
  </div>
</div>
<div class="footer">

</div>
{% endblock %}
