{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="p:domain_verify" content="40d20ac41da9d77eebd8fdd1b563f266"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock %}
    <link rel="icon" href="{% static '/images/whow.png' %}">
    <title>Theophilia Clara | {% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Codystar|Great+Vibes|Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <style media="screen">
      {% block css %}{% endblock %}
    </style>
    <script src="https://kit.fontawesome.com/c7f50bcb24.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161239002-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-161239002-1');
    </script>
  </head>
  <body>
    {% if user.is_authenticated %} <!-- add, drafts, log out bar -->
  <div class="top">
    <ul>
      <li><a href="{% url 'post_new' %}" class='fas fa-plus'></a></li>
      <li><a href="{% url 'post_draft_list' %}" class='fas fa-th-list'></a></li>
      <li><a href="{% url 'logout' %}" class='fas fa-sign-out-alt'></a></li>
    </ul>
  </div>
    {% endif %}
  <div id="menu"> <!-- home, about, social media buttons -->
      <div class="cont">
            <a href="/" class="help">Home</a>
            <ul class="tsocial">
                <li><a class="fab fa-pinterest-p" href="https://www.pinterest.com/theophiliaclara/" target="blank" id="pin"></a></li>
                <li><a class="fab fa-instagram" href="https://www.instagram.com/theophiliaclara/" target="blank" id="insta"></a></li>
                <li><a class="fab fa-spotify" href="https://open.spotify.com/user/5m6nug9z882ud8ijo5blbe7v8?si=C0u19-wVQTiYJl6zg1KSJA" id="spotify"></a> </li>
            </ul>
            <a href="{% url 'about' %}" class="help">About</a>
        <!--  <div id="c-sty">
              <a href="">Style</a>
              <ul id="sty">
                <li>clothes</li>
                <li>hair</li>
                <li>nails</li>
                <li>accessories</li>
              </ul>
            </div>
            <div id="c-lif">
              <a href="">Life</a>
              <ul id="lif">
                <li>routines</li>
                <li>advice</li>
                <li>organization</li>
                <li>wallpapers</li>
              </ul>
            </div>
            <div id="c-ent">
              <a href="">Entertainment</a>
              <ul id="ent">
                <li>Music</li>
                <li>TV</li>
                <li>Movies</li>
                <li>Books</li>
              </ul>
            </div>
            <div id="c-foo">
              <a href="#">Food</a>
              <ul id="foo">
                <li>Breakfast</li>
                <li>Meal prep</li>
                <li>Snacks</li>
                <li>Dinners</li>
                <li>Healthy desserts</li>
              </ul>
            </div>-->
          </div>
    </div>
  <div id="other"> <!-- not menus -->
    <div id="header">
      <h1 id="theone">{% block header %}{% endblock %}</h1>
      <h2 style="text-align:center;font-weight:normal;"><em>live inspired + live well</em></h2>

    </div>
    <div class="o2">
      {% block content %} <!-- unique content for each page -->
      {% endblock %}
      <div class="sidebar">
        <div class="covid">
          <h3 id="agh"><a href="/covid19"><span class="ooh">stuck at home? </span> <span id="ooh">don't know what to do? </span> <span class='ooh'>click here!</span></a></h3>
        </div>
        <!--<div class="instag">
        <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/1588a3f6d58856198ccb6b570839ed4c.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
        </div>-->
        <div class="spotif">
          <iframe src="https://open.spotify.com/embed/playlist/24VzM1S5za41mUGJu0xog7" id="playlist" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
        <br>
        <div class="pinte">
          <a data-pin-do="embedBoard" data-pin-board-width="300" data-pin-scale-height="600" data-pin-scale-width="60" href="https://www.pinterest.com/theophiliaclara/spring-2020/"></a>
        </div>
      </div>
    </div>
    <div class="footer"> <!-- 3 sections with links -->
      <div class="col1"> <!-- filter -->
        <h2 class='ex'>Filter</h2>
        <ul id="filter">🌷
          {% for tag in tags %}
            <li class='tag'><a href="{% url 'tags' tag=tag %}">{{ tag }}</a></li>
          {% endfor %}🌷
        </ul>
      </div>
      <div class="col2"> <!-- social media -->
          <h2 class='ex'>Follow on:</h2>
          <ul class="social">
            <li><a class="fab fa-pinterest-p" href="https://www.pinterest.com/theophiliaclara/" target="blank" id="pin"></a></li>
            <li><a class="fab fa-instagram" href="https://www.instagram.com/theophiliaclara/" target="blank" id="insta"></a></li>
            <li><a class="fab fa-spotify" href="https://open.spotify.com/user/5m6nug9z882ud8ijo5blbe7v8?si=C0u19-wVQTiYJl6zg1KSJA" id="spotify"></a> </li>
          </ul>
      </div>
      <div class="col3"> <!-- extra info -->
        <h2><a href="{% url 'about' %}">About</a></h2>
        <a href="privacy" style="margin:auto;text-align:center;display:block;margin-bottom:10px;"><em>Privacy Policy</em></a>
        <span class='copy'></span>
          <!--{% if user.is_authenticated %}
          {% else %}
          <h2><a href="{% url 'login' %}" class='fas fa-sign-in-alt' id="signinin"></a></h2>
          {% endif %}-->
      </div>
    </div>
  </div>
    <script async defer data-pin-hover="true" data-pin-round="true" src="//assets.pinterest.com/js/pinit.js"></script>
  </body>
</html>
