{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static '/images/tclogo23.png' %}">
    <title>Theophilia Clara | {% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Codystar|Great+Vibes|Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <style media="screen">
      {% block css %}{% endblock %}
    </style>
    <script src="https://kit.fontawesome.com/c7f50bcb24.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
  </head>
  <body>
    {% if user.is_authenticated %} <!-- add, drafts, log out bar -->
  <div class="top">
    <ul>
      <li><a href="{% url 'post_new' %}" class='fas fa-plus'></a></li>
      <li><a href="{% url 'post_draft_list' %}" class='fas fa-th-list'></a></li>
      <li><a href="{% url 'logout' %}" class='fas fa-sign-out-alt'></a></li>
    </ul>
  </div>
    {% endif %}
  <div id="menu"> <!-- home, about, social media buttons -->
      <div class="cont">
          <h3><a href="/">Home</a></h3>
          <ul class="tsocial">
            <li><a class="fab fa-pinterest-p" href="https://www.pinterest.com/theophiliaclara/" target="blank" id="pin"></a></li>
            <li><a class="fab fa-instagram" href="https://www.instagram.com/theophiliaclara/" target="blank" id="insta"></a></li>
            <li><a class="fab fa-spotify" href="#" id="spotify"></a> </li>
          </ul>
          <h3><a href="{% url 'about' %}">About</a></h3>
      </div>
    </div>
  <div id="other"> <!-- not menus -->
    <div id="header">
    <h1 id="theone">{% block header %}{% endblock %}</h1>
  </div>
    {% block content %} <!-- unique content for each page -->
    {% endblock %}
    <div class="footer"> <!-- 3 sections with links -->
      <div class="col1"> <!-- filter -->
        <h2 class='ex'>Filter</h2>
        <ul id="filter">
          {% for post in posts %}
            <li class='tag'><a href="{% url 'tags' tag=post.tag %}">{{ post.tag }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col2"> <!-- social media -->
          <h2 class='ex'>Follow on:</h2>
          <ul class="social">
            <li><a class="fab fa-pinterest-p" href="https://www.pinterest.com/theophiliaclara/" target="blank" id="pin"></a></li>
            <li><a class="fab fa-instagram" href="https://www.instagram.com/theophiliaclara/" target="blank" id="insta"></a></li>
            <li><a class="fab fa-spotify" href="#" id="spotify"></a> </li>
          </ul>
      </div>
      <div class="col3"> <!-- extra info -->
        <h2><a href="{% url 'about' %}">About</a></h2>
        <span class='copy'></span>
          {% if user.is_authenticated %}
          {% else %}
          <h2><a href="{% url 'login' %}" class='fas fa-sign-in-alt' id="signinin"></a></h2>
          {% endif %}
      </div>
    </div>
  </div>
  </body>
</html>
