{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/images/icon.png">
    <title>Theophilia Clara | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    <script src="https://kit.fontawesome.com/c7f50bcb24.js" crossorigin="anonymous"></script>
    <script
			  src="https://code.jquery.com/jquery-3.4.1.js"
			  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
			  crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="menu">
      <i class="fas fa-times" id="close-m"></i>
      <h2>FILTER</h2>
      <ul id="filter">
        {% for post in posts %}
          <li class='tag'><a href="{% url 'tags' tag=post.tag %}"></a>{{ post.tag }}</li>
        {% endfor %}
      </ul>
    <h2>FOLLOW ON</h2>
    <ul id="social">
      <li><a class="fab fa-pinterest-p" href="https://www.pinterest.com/theophiliaclara/" target="blank"></a></li>
      <li><a class="fab fa-instagram"></a></li>
    </ul>
  </div>
  <div id="other">
  <div id="header">
      <h1>Theophilia Clara</h1>
      <i class="fas fa-bars" id="open-m"></i>
  </div>  
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
