{% extends 'blog/base.html' %}
{% block css %}
.d{
  margin:40px;
  padding:30px;
  border:3px solid;
  text-align:center;
}

.d p{
  text-indent:0px;
}
.footer{
  display:none;
}
.sidebar{
  display:none;
}
{% endblock %}
{% block title %}
Drafts
{% endblock %}
{% block header %}
Drafts
{% endblock %}
{% block content %}
<h2 style="font-family:'Poiret One'; margin:30px; text-align:center;">Drafts: {{ posts|length }}</h2>
{% for post in posts %}
<div class="d">
  <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
  <p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>
</div>
{% endfor %}
{% endblock %}
