{% extends 'blog/base.html' %}
{% block css %}
.recipe{
  width:50%;
  margin:auto;
  padding:20px;
  background-color:#F5F4F4;
}

.recipe h2{
  text-align:center;
  font-size:1.6em;
}

.recipe li{
  line-height:200%;
}

#ingredients{
  list-style-type:circle;
  column-count:4;
}

#instruct{
  list-style-type:decimal;
}

.recipe hr{
  border-color:#CDAAAE;
  margin-top:0px;
}

#rtl, #rt img{
  display:inline-block;
}

.recipe-menu{
  margin:0px;
  padding:0px;
  text-align:center;
}

.recipe-menu li{
  display:inline-block;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:10px;
  margin:auto;
}

.p{
  padding:50px;
}

h2{
  text-align:center;
}

{% endblock %}
{% block title %}
{{ post.title }}
{% endblock %}
{% block header %}<a href="/">Theophilia Clara</a> {% endblock %}
{% block content %}
    <div class="p">
        <h1 class='postitle'>{{ post.title }}</h1>
        {% if post.published_date %}
          <div id="date">
            <h2>{{ post.published_date }}</h2>
          </div>
        {% endif %}
        {% load static %}
        <div class="centt">
          <img src="/media/{{post.photo}}" style="max-width:80%;" class="litness">
        </div>
        {{ post.text|safe }}
        <br>
        <p style="text-align:center; text-indent:0px;" class="taglink"><em class="taglink">See more from <a href="/tag/{{ post.tag }}" class="taglink">{{ post.tag }}</a></em></p>
        {% if user.is_authenticated %}
        <div class="tools">
          {% if post.published_date %}
          <a class='fas fa-check'></a>
          {% else %}
          <a class="fas fa-upload" href="{% url 'post_publish' pk=post.pk %}"></a>
          {% endif %}
          <a class="fas fa-edit" href="{% url 'post_edit' pk=post.pk %}"></a>
          <a class="fas fa-trash-alt" href="{% url 'post_remove' pk=post.pk %}"></a>
          </div>
        {% endif %}
        <hr>
        <div class="com">
          <h2 id="commentt"><a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a></h2>
          {% for comment in post.comments.all %}
              {% if user.is_authenticated or comment.approved_comment %}
              <div class="comment">
                  <h3><strong>{{ comment.author }}</strong></h3>
                  <h4>{{ comment.created_date }}</h4>
                  {{ comment.text|linebreaks }}
                      <div class="date">
                          {% if not comment.approved_comment %}
                          <div class="tools">
                            <a href="{% url 'comment_approve' pk=comment.pk %}"><i class="far fa-thumbs-up"></i></a>
                            <a href="{% url 'comment_remove' pk=comment.pk %}"><i class="far fa-thumbs-down"></i></a>
                          </div>
                          {% endif %}
                      </div>
              </div>
              {% endif %}
          {% empty %}
              <p>No comments here yet :(</p>
          {% endfor %}
        </div>
    </div>
    <div class="footer">

    </div>
{% endblock %}
