{% extends 'blog/base.html' %}
{% block title %}
{{ post.title }}
{% endblock %}
{% block header %}<a href="/">Theophilia Clara</a> {% endblock %}
{% block content %}
    <div class="p">
        <h1 class='postitle'>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr|safe }}</p>
        <a href="/tags/{{ post.tag }}"></a>
        {% if post.published_date %}
          <div id="date">
        {{ post.published_date }}
          </div>
        {% endif %}
        {% if user.is_authenticated %}
        <div id="tools">
          {% if post.published_date %}
          {% else %}
          <a class="fas fa-upload" href="{% url 'post_publish' pk=post.pk %}"></a>
          {% endif %}
          <a class="fas fa-edit" href="{% url 'post_edit' pk=post.pk %}"></a>
          <a class="fas fa-trash-alt" href="{% url 'post_remove' pk=post.pk %}"></a>
        </div>
        {% endif %}
    </div>
    <div class="footer">

    </div>
{% endblock %}
