{% extends 'blog/base.html' %}
{% block css %}
.footer{
  display:none;
}

.post-form{
  text-align:center;
}

.text-options i{
  display:block;
  padding:8px;
  margin:5px;
}

.text-options li{
  list-style-type:none;
  text-indent:0px;
  margin:0px;
  padding:0px;
  display:inline-block;
}

.text-options ul{
  margin:0px;
  padding:0px;
}

.text-options{
  text-align:center;
}

#menu{
  display:none;
}

.imagess{
  text-align:center;
}

.imagess input{
  width:73px;
  text-align:center;
  padding-top:36.5px;
  padding-bottom:36.5px;
  border-radius:100%;
}

.sidebar{
  display:none;
}

@media only screen and (orientation:portrait){
  #posty{
    padding:0px;
    margin:0px;
    text-align:center;
  }

  #posty input{
    margin:0px;
  }
  p{
    text-indent:0px;
  }
  .text-options ul{
    width:75vw;
    margin:auto;
    padding:10px;
  }
}
{% endblock %}
{% block title %}
Edit
{% endblock %}
{% block header %}Edit{% endblock %}
{% block content %}
<div class="editd">
<form class="post-form" method="post" enctype="multipart/form-data" id="posty">
  {% csrf_token %}
  {{ form.as_p }}
  {{ formset.management_form }}
  <button type="submit" class="save btn btn-default">Save</button>
</form>
</div>
{% endblock %}
