{% extends 'blog/base.html' %}
{% block title %}
{{ post.title }}
{% endblock %}
{% block header %}<a href="/">Theophilia Clara</a> {% endblock %}
{% block content %}
    <div class="p">
        <h1 class='postitle'>{{ post.title }}</h1>
        <img src="{{ post.photo }}" style="max-width:100%;">
        <p>{{ post.text|safe }}</p>
        <br>
        <p style="text-align:center; text-indent:0px;"><em>See more from <a href="/tag/{{ post.tag }}">{{ post.tag }}</a></em></p>
        {% if post.published_date %}
          <div id="date">
            {{ post.published_date }}
          </div>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="tools">
          {% if post.published_date %}
          <a class='fas fa-check'></a>
          {% else %}
          <a class="fas fa-upload" href="{% url 'post_publish' pk=post.pk %}"></a>
          {% endif %}
          <a class="fas fa-edit" href="{% url 'post_edit' pk=post.pk %}"></a>
          <a class="fas fa-trash-alt" href="{% url 'post_remove' pk=post.pk %}"></a>
        </div>
        {% endif %}
        <hr>
        <h2><a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a></h2>
        {% for comment in post.comments.all %}
            {% if user.is_authenticated or comment.approved_comment %}
            <div class="comment">
              <hr class="he">
                <h3><strong>{{ comment.author }}</strong></h3>
                <h4>{{ comment.created_date }}</h4>
                <p>{{ comment.text|linebreaks }}</p>
                    <div class="date">
                        {% if not comment.approved_comment %}
                        <div class="tools">
                          <a href="{% url 'comment_approve' pk=comment.pk %}"><i class="far fa-thumbs-up"></i></a>
                          <a href="{% url 'comment_remove' pk=comment.pk %}"><i class="far fa-thumbs-down"></i></a>
                        </div>
                        {% endif %}
                    </div>
              <hr class="he">
            </div>
            {% endif %}
        {% empty %}
            <p>No comments here yet :(</p>
        {% endfor %}
    </div>
    <div class="footer">

    </div>
{% endblock %}
