{% extends 'blog/base.html' %}
{% block title %}
Home
{% endblock %}
{% block header %}<a href="/">Theophilia Clara</a> {% endblock %}
{% block css %}
#agh{
  text-align:center;
  color:black;
}
#agh a{
  color:black;
}

#other{
  text-align:center;
}
#fhh, #topfilt{
  display:inline-block;
  color:#A38383;
}
.tf a{
  color:#A38383;
  text-decoration:none;
}
{% endblock %}
    {% load static %}
{% block content %}
<div id="posts" class="left">
  <!--<div id="ltkwidget-version-two631799299" data-appid="631799299" class="ltkwidget-version-two">
    <script>var rsLTKLoadApp="0",rsLTKPassedAppID="631799299";</script>
    <script type="text/javascript" src="https://widgets-static.rewardstyle.com/widgets2_0/client/pub/ltkwidget/ltkwidget.js"></script>
    <div widget-dashboard-settings="" data-appid="631799299" data-userid="345027" data-rows="2" data-cols="3" data-showframe="true" data-padding="4" data-profileid="5d86b92c-8b21-11ea-8867-4ad2fc426daa">
      <div class="rs-ltkwidget-container">
        <div ui-view=""></div>
      </div>
    </div>
    <noscript>This content requires JavaScript to be enabled, and the site or browser may be disabling it. Try reactivating it to view this content.</noscript>
  </div>-->

  <!--<div class="filtration">
    <h2 id="fhh">Filter:</h2>
    <ul id="topfilt">
      {% for tag in tags %}
        <li class='tf'><a href="{% url 'tags' tag=tag %}" class="oa">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </div>-->
  <div class="newpostbox">
    {% for post in posts %}
    <div class="p hp {{ post.tag }}">
      <a href="{% url 'post_detail' pk=post.pk %}">
        <h1 class="pt">{{ post.title }}</h1>
        <h3>{{ post.published_date }}</h3>
        <img src="/media/{{ post.icon }}" class="pi" width="50%">
      </a>
        <a href="{% url 'post_detail' pk=post.pk %}#commentt"><h4>{{ post.approved_comments|length }} comments</h4></a>
    </div>
    {% endfor %}
  </div>
</div>
<!--<div class="search"><input type="text" name="" value="" id="searchbox"><button type="button" name="button" id="searchbutton"><i class="fas fa-search"></i></button></div><div class="archive"></div><div class="about"><p style="text-indent:0px;text-align:center;"><a href="/about">about</a></p></div>-->
{% endblock %}
