{% extends 'blog/base.html' %}
{% block css %}
.t{
  margin:40px;
  padding:30px;
  border:10px double #EFE8E8;
  text-align:center;
}

.t p{
  text-indent:0px;
}

#theone{
  text-transform:capitalize;
}

h2{
  text-align:center;
}

#nombre{
  font-family:'letter-gothic-std';
  margin-top:40px;
}

{% endblock %}
{% block title %}
{{ tag }}
{% endblock %}
{% block header %}
<a href="/">Theophilia Clara</a>
{% endblock %}
{% block content %}
<div class="tagg left">
  <h2 id="nombre">Posts from <em>{{ tag }}</em></h2>
  {% for post in posts %}
  <div class="{{ post.tag }} t">
    <a href="{% url 'post_detail' pk=post.pk %}">
      <h1 class="pt">{{ post.title }}</h1>
      <h3>{{ post.published_date }}</h3>
      <img src="/media/{{ post.icon }}" class="pi" width="50%">
    </a>
      <a href="{% url 'post_detail' pk=post.pk %}#commentt"><h4>{{ post.approved_comments|length }} comments</h4></a>
  </div>
  {% endfor %}
</div>
{% endblock %}
