{% extends 'blog/base.html' %}
{% block css %}
.t{
  margin:40px;
  padding:30px;
  border:10px double #EFE8E8;
  text-align:center;
}

.t p{
  text-indent:0px;
}

#theone{
  text-transform:capitalize;
}
{% endblock %}
{% block title %}
{{ tag }}
{% endblock %}
{% block header %}
{{ tag }}
{% endblock %}
{% block content %}
<div class="tagg left">
  {% for post in posts %}
  <div class="{{ post.tag }} t">
    <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
    <img src="/media/{{ post.icon }}" class="pi" width="50%">
    <h4>{{ post.published_date }}</h4>
  </div>
  {% endfor %}
</div>
{% endblock %}
