@import url("https://use.typekit.net/eyc4jzh.css");

body, html{
  padding:0px;
  margin:0px;
  font-family: playfair-display;
}

 a:not(.oa){
  color:#CDAAAE;
  text-decoration: none;
}

#ltkwidget-version-two631799299{
  width:85%;
  margin:auto;
}

#contrast{
  background:#CDAAAE;
  color:white;
  border-radius: 100%;
  width:140px;
  height:140px;
  padding-top:45px;
  padding-left:20px;
  padding-right:20px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  margin-top:40px;
}

.imagess{
  text-align: center;
  margin:auto;
  margin-bottom:40px;
}

.imagess img{
  text-align:center;
  margin:auto;
}

#contrast p{
  padding:0px;
  margin:0px;
}

#contrast .social{
  padding:0px;
  margin:0px;
}

#contrast a{color:white;}

#menu{
  background-color: #F5F4F4;
  color:#B17A80;
  padding:5px;
  text-align:center;
  position: relative;
}


#menu a{
  color:#B17A80;
  font-size: 1.2em;
}

#menu h3, #menu span, .tsocial li, .tsocial{
  display: inline-block;
  padding-left:10px;
  padding-right:10px;
  font-weight:normal;
  vertical-align: center;
  text-transform: lowercase;
}

#sty li, #lif li, #ent li, #foo li{
  display: block;
  list-style-type: none;
  padding:5px;
  margin:5px;
  text-align: left;
}

#c-sty a, #c-lif a, #c-ent a, #c-foo a{
  display: block;
}

#sty, #lif, #ent, #foo{
  z-index: 1;
  position:absolute;
  background-color:#F5F4F4;
  padding:0px;
  margin-left:-10px;
}

.eapps-instagram-feed{
  text-align: center;
  margin:auto;
}

.pi{
  text-align: center;
  margin: auto;
  display: block;
}

.socc{
  text-align: center;
  margin:auto;
}

.help{
  display: inline-block;
  margin:10px;
  text-transform: lowercase;
}

#close-m{
  display: block;
  text-align: center;
  font-size: 2em;
}

h1{
  font-family: Gautreaux;
  text-align: center;
}

#theone{
  font-size: 4em;
  height:calc(100%-45.5px);
}

.col1, .col2, .col3{
  display: inline-block;
  width:300px;
  vertical-align: top;
  text-align: left;
  padding:30px 10px 30px 10px;
}

.col3 span{
  line-height: 200%;
  margin:auto;
  margin-bottom:10px;
}

.col3{
  text-align:center;
}

.footer{
  background-color:#D9B8B8;
  color:white;
  text-align: center;
}

.footer a{
  color:white;
}

.footer h2{
  text-align: center;
  font-weight: normal;
  font-style: italic;
}

.social li{
  display: inline-block;
  padding:10px;
  font-size: 1.2em;
  font-weight: bold;
}

.social{
  padding:0px;
  text-align: center;
}

.copy{
  display:block;
  text-align: center;
}

.tag{
  display:inline-block;
  padding:5px;
  line-height: 200%;
}

#filter{
  max-height:100px;
  overflow:visible;
  padding:0px;
  text-align: center;
}

.top li{
  display: inline-block;
}

.top ul{
  padding:0px;
    margin:0px;
}

.top{
  text-align: center;
  padding:10px;
  background:black;
}

.top a{
  color:white;
  padding:5px;
  margin:5px;
}

.p{
  padding:20px;
  margin:40px;
  border:3px solid #EFE8E8;
}

.filtration{
  margin-top:40px;
  margin-bottom:10px;
  font-family:'letter-gothic-std';
}

.p h3, .p h4{
  text-align:center;
  color:#B17A80;
}

.p li{
  line-height: 200%;
}

.p:first-child{
  background-color: #EFE8E8;
  background: #EFE8E8;
}

#logint{
  margin:auto;
}

#cont{
  text-align: center;
  display: block;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  margin-bottom:20px;
}

.post-form{
  text-align: center;
}

.post-form label{
  display: none;
}

.post-form input, .post-form textarea{
    width:50%;
    padding:10px;
    line-height: 170%;
    font-family: sans-serif;
    border:none;
    background-color: #F5F4F4;
}

.save{
  margin-bottom:20px;
}

#id_photo, #id_icon{
  text-align: center;
}

#id_text{
  resize: none;
}

.tools{
  text-align: center;
}

.tools a{
  display: inline-block;
  padding:5px;
  margin:5px;
}

hr{
  border:2px solid white;
  margin:10px 50px 10px 50px;
}

.p p{
  padding:10px;
}

p{
  line-height: 200%;
  text-indent: 45px;
}

#date h2{
  text-align:center;
}

.comment{
  border-left:3px solid white;
  padding-bottom:0px;
}
.comment p, .comment h3, .comment h4{
  padding:5px;
  margin:0px;
  line-height:150%;
}
.comment p{
  line-height:200%;
}

.p iframe{
  display: block;
  margin:auto;
  padding:10px;
}

#commentt{
  text-align: center;
}

.prep,.bake,.serves{
  display:inline-block;
  text-align:center;
  padding:10px;
}
.info{
  text-align:center;
}

.recipee h3{
  color:black;
}

.recipee ul, ol{
  text-align:left;
}

.postitle{
  font-size: 3em;
  margin-bottom:0px;
  line-height: 100%;
}

.super-responsive-wrapper {
  width: 100%;
  margin: auto;
  margin-bottom:30px;
}

.board-wrapper {
  margin: auto;
  text-align: center;
  vertical-align: center;
}

.board-wrapper span {
  overflow: hidden;
  max-width: 100%!important;
  vertical-align: center;
}

.litness{
  text-align: center;
  margin:auto;
  width:70%;
}

.centt{
  text-align: center;
}

.shareables a{
  padding:12px;
}

.qu{
  width:310px;
  height:310px;
  display: inline-block;
  vertical-align: top;
  padding:20px;
  background:linear-gradient(#F5F4F4, white);
  line-height: 200%;
  font-size: 1.15em;
}

.sidebar{
  width:20%;
  display:inline-block;
  vertical-align:top;
  padding-left:30px;
  padding-right:30px;
  padding-bottom:30px;
  /*border-top:4px solid #D9B8B8;
  border-bottom:4px solid #D9B8B8;*/
  margin-top:40px;
  margin-right:40px;
}

#searchbutton{
  border:0px;
  background:none;
  font-size:1.02em;
}

.search{
  text-align:center;
  padding-bottom:20px;
}

#searchbox{
  width:calc(100% - 45px);
  border:none;
  background:#EFE8E8;
  padding-top:5px;
  padding-bottom:5px;
}

#playlist{
  width:100%;
}
#agh{
  line-height:200%;
  margin-top:0px;
}
#ooh{
  display:block;
  text-align:right;
}
.ooh{
  display:block;
  text-align:left;
}

.left{
  width:70%;
  display:inline-block;
}

.fa-print{
  font-size: 1.5em;
}

.tf{
  display:inline-block;
  padding:5px;
}

#topfilt{
  text-indent:0px;
  padding:0px;
  margin:0px;
}

@media only screen and (max-width:1045px){
  .left{
    width:100%;
    display:block;
  }
  .sidebar{
    width:100%;
    padding:0px;
    margin:0px;
    display:block;
  }
  #playlist{
    width:300px;
  }

  #ooh, .ooh{
    display:inline-block;
  }
  .search{
    padding-left:40px;
    padding-right:40px;
  }
  #searchbox{
    width:300px;
  }
  .spotif{
    padding:20px;
  }
}

@media only screen and (orientation:portrait){
  .post-form input, .post-form textarea{
    width:75%;
  }

  .post-form{
    text-align: left;
  }

  .save{
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    text-align:center;
  }

  .super-responsive-wrapper{
    width:350px;
  }

  .pi{
    width:90%;
  }

  .p{
    margin:35px;
    padding:15px;
  }

  .litness{
    width:80vw;
  }
  .yt{
    width:90%;
    height:calc(0.5625*90%);
    margin:auto;
  }
  .filtration{
    margin-left:35px;
    margin-right:35px;
  }
  .sidebar{
    text-align:center;
  }
}

@media print{
  #theone, .top, #menu, .footer, .tools, .com, .taglink, .sidebar, .litness, #date, .shareables, #name, .fa-print, .fas, #header, .p-name{
    display: none;
    visibility: hidden;
  }

  .p, .left, .p-inside{
    width:95%;
    border:none;
    margin:auto;
    width:100%;
    padding:0px;
  }

  h2, h3{
    text-align:center;
  }
  .left, .p{
    overflow: visible;
    display: block;
  }
}
