@import url("https://use.typekit.net/jcy0yuf.css");

body, html{
  padding:0px;
  margin:0px;
  font-family: playfair-display;
}

a{
  color:#CDAAAE;
  text-decoration: none;
}

#menu{
  background-color: #F5F4F4;
  color:#B17A80;
  padding:5px;
  text-align:center;
}

#menu a{
  color:#B17A80;
  font-size: 1.2em;
}

#menu h3, #menu span, #menu ul, #menu li{
  display: inline-block;
  padding-left:10px;
  padding-right:10px;
  font-weight:normal;
  vertical-align: center;
  text-transform: lowercase;
}

#close-m{
  display: block;
  text-align: center;
  font-size: 2em;
}

h1{
  font-family: luxus-brut;
  text-align: center;
}

#theone{
  font-size: 4em;
  margin-bottom:0px;
}

.col1, .col2, .col3{
  display: inline-block;
  width:240px;
  vertical-align: top;
  text-align: left;
  padding:10px;
}

.footer{
  background-color:#D9B8B8;
  color:white;
  text-align: center;
}

.footer a{
  color:white;
}

.footer h2{
  text-align: center;
  font-weight: normal;
  font-style: italic;
}

.social li{
  display: inline-block;
  padding:10px;
  font-size: 1.2em;
}

.social{
  padding:0px;
  text-align: center;
}

.copy{
  display: block;
  text-align: center;
}

.tag{
  list-style-type: '☆  ';
  display: inline;
  list-style-position: inside;
  line-height: 200%;
}

#filter{
  height:100px;
  overflow: scroll;
  padding:0px;
}

.top li{
  display: inline-block;
}

.top ul{
  padding:0px;
    margin:0px;
}

.top{
  text-align: center;
  padding:10px;
  background:black;
}

.top a{
  color:white;
  padding:5px;
  margin:5px;
}

.p{
  padding:20px;
  margin:40px;
  background-color: #EFE8E8;
}

.p h3, .p h4{
  text-align:center;
  color:#B17A80;
}

#logint{
  margin:auto;
}

#cont{
  text-align: center;
  display: block;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  margin-bottom:20px;
}

.post-form{
  text-align: center;
}

.post-form label{
  display: none;
}

.post-form input, .post-form textarea{
    width:500px;
    padding:10px;
    line-height: 150%;
    font-family: sans-serif;
    border:none;
    background-color: #F5F4F4;
}


.save{
  margin-bottom:20px;
}

#id_photo{
  text-align: center;
}

#id_text{
  resize: none;
}

.tools{
  text-align: center;
}

.tools a{
  display: inline-block;
  padding:5px;
  margin:5px;
}

hr{
  border:2px solid white;
}

.p p{
  line-height: 200%;
  text-indent: 45px;
  padding:10px;
}

#date h2{
  text-align:center;
}

.comment{
  border-left:3px solid white;
}

#commentt{
  text-align: center;
}
