@import url('https://fonts.googleapis.com/css?family=Codystar|Great+Vibes|Poiret+One&display=swap');

h1,h2,h3,h4{
  text-align:center;
}
html{
  min-height:100%;
}
body{
  min-height:100vh;
}
h1{
  font-size:4em;
  font-family:'Codystar';
}

.p, .tag{
  font-family:'Poiret One';
}

p{
 line-height:200%;
 text-indent:64px;
}

html, body{
  margin:0px;
  padding:0px;
}

#filter li{
  list-style-type:none;
  padding-bottom:10px;
  transition-duration: 2000ms;
  transition-property: text-decoration;
}

#filter li:hover{
  text-decoration:underline;
}

#social li{
  display:inline-block;
  padding:10px;
  margin:auto;
  text-indent:0px;
  text-align:center;
}

#social{
  margin:auto;
  text-align:left;
}

#social a{
  text-decoration:none;
  color:black;
}

#menu h2{
  text-align:left;
  text-transform:lowercase;
  font-family:'Great vibes';
}

#menu li{
  transition:0.3s;
}

#menu h2:hover, #filter li:hover{
  color:#b06ab3;
  cursor:pointer;
}

#other{
  transition-duration:0.5s;
  transition-timing-function: ease-in-out;
}

#open-m{
  font-size:2em;
  margin:10px auto 10px auto;
  width:100%;
  text-align:center;
  display:block;
  margin-top:40px;
}

#close-m{
  font-size:1.5em;
  display:block;
  text-align:center;
}

#open-m:hover, #close-m:hover, #filter li:hover, #social li:hover{
  cursor:pointer;
}

#footer{
  text-align:center;
  padding:20px;
  margin:0px;
  color:black;
}

#footer span{
  display:block;
}

/* for desktop */
@media only screen and (max-width: 600px) {

}
@media only screen and (min-width: 601px){

.p{
  margin:50px;
  padding:20px 40px 20px 40px;
  border:0px solid;
  color:black;
  border:black solid;
}

#menu{
  padding:50px;
  width:175px;
  height:100vh;
  position:fixed;
  top:0px;
  /*left:0px;*/
  font-family:'Abril Fatface';
  font-weight:normal;
  text-transform:lowercase;
  transition:0.5s;
  transition-timing-function: ease-in-out;
  background:#ebf0ee;
}

#header h1 a{
  color:black;
  text-decoration: none;
}

.top li, .footer a{
  display:inline-block;
  padding:7px;
  margin:7px;
}

.top a, .footer a{
  text-decoration: none;
  color:white;
}

.top, .footer{
  background:black;
  color:white;
  margin-top:0px;
  text-align:center;
  font-family:'Poiret One';
}

.top ul{
  margin:0px;
  text-align:center;
  padding:0px;
}

#login, #login table{
  margin:auto;
  text-align:center;
}

#tools a{
  display: inline-block;
  padding:5px;
  margin:5px;
  text-decoration:none;
  color:black;
  text-align:center;
}

#tools{
  text-align:center;
}

#date{
  text-align:center;
  padding:4px;
}

.postitle{
  font-family:'Poiret One';
}

.footer{
  position:relative;
  bottom:0px;
  left:0px;
  width:100%;
}

.editd{
  font-family:'Poiret One';
}

.save{
  background:white;
  border:none;
  padding:10px;
  font-family:'Poiret One';
  margin:auto;
  text-align:center;
  font-weight:bold;
  font-size:14px;
  transition-duration:0.5s;
}

.save:hover{
  background:#edf3e3;
}

.editd input, .editd textarea{
  border:none;
  padding:10px;
  width:50%;
  margin:auto;
  font-size: 12px;
  background:#e9f1dd;
  font-family:'Poiret One';

}

.editd label{
  color:#a3a89a;
}

.editd form{
  margin:auto;
  text-align:center;
}

#login{
  font-family:'Poiret One';
}

#login input, #id-password, #id-username{
  border:none;
  padding:5px;
  background:transparent;
  color:white;
}

#cont{
  margin-top:20px;
  background:transparent;
  font-size:14px;
  color:white;
  font-family:'Poiret One';
  transition-duration: 0.5s;
}

#cont:hover{
  background:rgba(255,255,255,0.3);
}

#logint{
  border-spacing:10px;
}

tr td:nth-child(even){
  border-bottom:1.5px solid white;
}

#spotify:hover{
  color:green;
}

#pin:hover{
  color:red;
}

#insta:hover{
  color:purple;
}

#spotify, #pin, #insta{
  transition-duration:0.5s;
}
